In [17]:
# Import Dependencies
import pandas as pd
from kaggle.api.kaggle_api_extended import KaggleApi
import os
import json

# Defining a variable to store the dataset from kaggle to access
source = "alopez247/pokemon"

In [ ]:
# Accessing Data from Kaggle

# Load Kaggle API key from [redacted]
with open("secrets/kaggle.json") as f:
    kaggle_credentials = json.load(f)

# Set enviro variables for API
os.environ["KAGGLE_USERNAME"] = kaggle_credentials["username"]
os.environ["KAGGLE_KEY"] = kaggle_credentials["key"]

# Kaggle API:
api = KaggleApi()
api.authenticate()

# Accessing Dataset
path = api.dataset_download_files(source, unzip= True, path= "data")

Dataset URL: https://www.kaggle.com/datasets/alopez247/pokemon

In [29]:
# Creating the dataframe!

df = pd.read_csv("data/pokemon_alopez247.csv", index_col= 0)
df.head(10)

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,...,Color,hasGender,Pr_Male,Egg_Group_1,Egg_Group_2,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style
Number,,,,,,,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,...,Green,True,0.875,Monster,Grass,False,0.71,6.9,45,quadruped
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,...,Green,True,0.875,Monster,Grass,False,0.99,13.0,45,quadruped
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,...,Green,True,0.875,Monster,Grass,True,2.01,100.0,45,quadruped
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,...,Red,True,0.875,Monster,Dragon,False,0.61,8.5,45,bipedal_tailed
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,...,Red,True,0.875,Monster,Dragon,False,1.09,19.0,45,bipedal_tailed
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,...,Red,True,0.875,Monster,Dragon,True,1.70,90.5,45,bipedal_tailed
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,...,Blue,True,0.875,Monster,Water_1,False,0.51,9.0,45,bipedal_tailed
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,...,Blue,True,0.875,Monster,Water_1,False,0.99,22.5,45,bipedal_tailed
9,Blastoise,Water,NaN,530,79,83,100,85,105,78,...,Blue,True,0.875,Monster,Water_1,True,1.60,85.5,45,bipedal_tailed
10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,...,Green,True,0.500,Bug,NaN,False,0.30,2.9,255,insectoid

In [31]:
# Grabbing the columns to know what I need to remove/encode
col_list = df.columns.tolist
print(col_list)

<bound method IndexOpsMixin.tolist of Index(['Name', 'Type_1', 'Type_2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp_Atk', 'Sp_Def', 'Speed', 'Generation', 'isLegendary', 'Color',
       'hasGender', 'Pr_Male', 'Egg_Group_1', 'Egg_Group_2',
       'hasMegaEvolution', 'Height_m', 'Weight_kg', 'Catch_Rate',
       'Body_Style'],
      dtype='object')>

In [ ]:
# Prepping the data for clustering

# Removing / encoding categorical data